@font-face {
  font-family: "SkyBori-Regular";
  font-weight: normal;
  src: url("./fonts/SKYBORI.ttf") format("truetype");
}
* {
  font-family: "SkyBori-Regular";
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
